.form{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}
.lab1, .lab2, .lab3{
    color: rgb(0, 0, 0);
    font-family: 'Work Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.lab2{
    margin-top: 21px;
}
.inp1, .inp2{
    margin-top: 16px;
    width: 575px;
    height: 38px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background: rgb(238, 238, 238);
    padding-left: 20px;
}
.inp3{
    width: 575px;
    height: 75px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    background: rgb(238, 238, 238);
    padding-left: 20px;
}
.form__btn{
    margin-top: 21px;
    border: none;
    width: 575px;
    height: 48px;
    border-radius: 5px;
    background: rgb(33, 37, 41);
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;

}
.Contact__div5{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin-top: 67px;
    margin-bottom: 93px;
}
.xarita{
    width: 575px;
    height: 374px;
}
.h1__1{
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    font-weight: 700;
}

@media only screen and (max-width: 1250px){
    .xarita{
        width: 525px;
        height: 324px;
    }
    .lab2{
        margin-top: 18px;
    }
    .inp1, .inp2{
        margin-top: 12px;
        width: 500px;
        height: 34px;
    }
    .inp3{
        width: 500px;
        height: 65px;
    }
    .form__btn{
        margin-top: 14px;
        width: 500px;
        height: 40px;
        font-size: 18px;
    }
}   

@media only screen and (max-width: 1095px){
    .xarita{
        width: 385px;
        height: 304px;
    }
    .lab1, .lab2, .lab3{
        font-size: 15px;
    }
    .lab2{
        margin-top: 18px;
    }
    .inp1, .inp2{
        margin-top: 12px;
        width: 400px;
        height: 34px;
    }
    .inp3{
        width: 400px;
        height: 65px;
    }
    .form__btn{
        margin-top: 14px;
        width: 400px;
        height: 40px;
        font-size: 18px;
    }
} 

@media only screen and (max-width: 855px){
    .xarita{
        margin-top: 20px;
        width: 345px;
        height: 284px;
    }
    .lab1, .lab2, .lab3{
        font-size: 15px;
    }
    .lab2{
        margin-top: 18px;
    }
    .inp1, .inp2{
        margin-top: 12px;
        width: 300px;
        height: 34px;
    }
    .inp3{
        width: 300px;
        height: 65px;
    }
    .form__btn{
        margin-top: 14px;
        width: 300px;
        height: 40px;
        font-size: 18px;
    }
} 

@media only screen and (max-width: 720px){
    .Contact__div5{
        margin-top: 10px;
        display: block;
        display: flex;
        flex-direction: column-reverse;
    }
    .xarita{
        width: 590px;
        height: 374px;
    }
    .lab1, .lab2, .lab3{
        font-size: 20px;
    }
    .inp1, .inp2{
        margin-top: 12px;
        width: 600px;
        height: 34px;
    }
    .inp3{
        width: 600px;
        height: 65px;
    }
    .form__btn{
        margin-top: 14px;
        width: 600px;
        height: 50px;
        font-size: 25px;
    }
} 

@media only screen and (max-width: 650px){
    .xarita{
        margin-top: 20px;
        width: 350px;
        height: 204px;
    }
    .h1__1{
        margin-top: 30px;
        font-size: 30px;
    }
    .lab1, .lab2, .lab3{
        font-size: 20px;
    }
    .inp1, .inp2{
        margin: 0 auto;
        margin-top: 12px;
        width: 350px;
        height: 34px;
    }
    .inp3{
        margin: 0 auto;
        width: 350px;
        height: 65px;
    }
    .form__btn{
        margin-top: 14px;
        width: 350px;
        height: 50px;
        font-size: 25px;
    }
} 

@media only screen and (max-width: 400px){
    .xarita{
        margin-top: 20px;
        width: 280px;
        height: 204px;
    }
    .h1__1{
        margin-top: 30px;
        font-size: 30px;
    }
    .lab1, .lab2, .lab3{
        font-size: 20px;
    }
    .inp1, .inp2{
        margin: 0 auto;
        margin-top: 12px;
        width: 280px;
        height: 34px;
    }
    .inp3{
        margin: 0 auto;
        width: 280px;
        height: 65px;
    }
    .form__btn{
        margin-top: 14px;
        width: 280px;
        height: 50px;
        font-size: 20px;
    }
} 