.Header{
    background: var(--green);
    /* width: 100vw; */
    height: 123px;
}
.nav{
    padding-top: 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__list{
    display: flex;
    align-items: center;
    gap: 30px;
}
.header__item{
    a{
        color: white;
        font-size: 20px;
        font-weight: 400;
        padding-bottom: 5px;
    }
    .active{
        color: white;
        border-bottom: 3px solid white;
    }
}
