:root{
    --green: rgb(116, 198, 157)
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style-type: none;
    padding-left: 0;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1215px;
    margin: 0 auto;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}